body {
  font-family: "Playfair Display", serif;
  font-size: 14px;
  font-weight: 400;
  color: #626262;
}

.container {
  max-width: 936px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* =====================================Header================================ */
.header {
  padding-top: 71px;
  padding-bottom: 92px;
}
.menu-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 555px;
  margin: 0 auto;
}
.menu-link:hover {
  color: #03a9f4;
}

/* =====================================Main================================ */
.gallary {
  padding-bottom: 66px;
}
.gallary-cards {
  display: flex;
  flex-wrap: wrap;
  row-gap: 130px;
  column-gap: 65px;
}
.gallary-card {
  width: 420px;
}
.gallary-category {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  color: #b4ad9e;
}
.gallary-title {
  font-size: 30px;
}
.gallary-button {
  font-family: "Playfair Display", serif;
  font-size: 14px;
  font-weight: 400;
  color: #626262;
}
