.gallary-button {
  font-family: "Playfair Display", serif;
  font-size: 14px;
  font-weight: 400;
  color: #626262;
  padding: 20px 50px;
  background-color: #fbdbdb;
  border: 1px solid #626262;
  align-self: center;
}
