.gallary-item {
  flex-basis: calc((100% - 65px) / 2);
}
.gallary-photo {
  margin-bottom: 40px;
}
.gallary-category {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  color: #b4ad9e;
  margin-bottom: 40px;
}
.gallary-title {
  font-size: 30px;
  margin-bottom: 40px;
}
